*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: #0E1014;
    margin: 0 auto;
    height: 100%;
    padding: 5px 0;
}
header{
    width: 1140px;
    margin: 0 auto;
}
nav{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-items li{
    margin: 0 20px;
    color: #E4E5EA;
    transition: all 0.1s ease-out;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.logo_subtitle{
    width: 165px;
    font-size: 10px;
    margin-top: 10px;
    color: #E4E5EA;
}

/* main style*/
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 45px auto;
}
.main-left{
    width: 40%;
}
.main-left h1{
    font-size: 48px;
    font-weight: 400;
    color: #E4E5EA;
}
.main-left h2{
    background: -webkit-linear-gradient(rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 48px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.main-left p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(228, 229, 234, 1);
    width: 60%;
    margin-top: 25px;
}
.main-right{
    width: 25%;
}
.main-right-title{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: rgba(228, 229, 234, 1);
}
.title-main-right{
    background: -webkit-linear-gradient(rgba(252, 176, 69, 1), rgba(255, 63, 120, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.main-right-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin: 0 auto;
    list-style: none;
}
.main-right-items li{
    width: 40%;
    margin: 10px;
    color: #fff;
}
.main-right-items li h5{
    font-size: 18px;
    margin-bottom: 5px;
    color: rgba(228, 229, 234, 0.8);
    text-align: center;
}
.main-right-items li p{
    color:rgba(228, 229, 234, 0.6);
    text-align: center;
}
.main-right-btn{
    width: 80%;
    padding: 12px 16px;
    margin: 20px 40px;
    color: rgba(228, 229, 234, 0.8);
    background-color: rgba(64, 119, 243, 1);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.main-right-btn:active{
    transform: translate(2px, 3px);
}
footer{
    width: 1140px;
    margin: 45px auto;
}
.footer-items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
}
.title{
    color:gray;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menyu{
    display: flex;
    justify-content: flex-start;
}
.menyu .menyu-left, .menyu-right{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-direction: column;
}
.menyu div a {
    color: #fff;
    margin: 5px 0;
}
.menyu-left{
    margin-right: 50px;
}
.footer-left h4{
    margin-bottom: 10px;
}
.footer-left p{
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
}
.footer-right{
    color: #fff;
    text-align: end;
}
.footer-right p{
    margin: 10px 0;
}
ol{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-icons li{
    margin: 5px 10px;
}
.footer-subtitle{
    width: 1140px;
    margin: 45px auto;
    text-align: end;
    color: #fff;   
}
@media screen and (max-width: 320px) {
    .container{
        max-width: 320px;
        width: 100%;
        height: auto;
        padding: 5px 0;
    }
    .logo_subtitle{
        display: none;
    }
    header{
        width: 100%;
    }
    nav{
        padding: 10px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .nav-items-mobil-two{
        display: none;
    }
    .nav-items li{
        font-size: 12px;
        margin: 0 16px;
    }
    .nav-items-mobil:last-child{
        display: none;
    }
    .sertifikat{
        display: none;
    }
    main{
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding: 0 16px;
    }
    .main-left{
        width: 100%;
    }
    .main-left h1{
        font-size: 36px;
    }
    .main-left h2{
        font-size: 36px;
    }
    .main-left p{
        width: 95%;
        font-size: 18px;
        margin-top: 5px;
    }
    .main-right{
        width: 100%;
        margin: 15px 0;
        padding: 0 16px;
    }
    .main-right-btn{
        display: none;  
    }
    .main-right-items p{
        display: none;
    }
    footer .footer-items{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-items{
        width: 100%;
        padding: 0 16px;
        margin: 0;
    }
    .footer-subtitle{
        width: 100%;
        text-align: center;
    }
}