*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: #0E1014;
    margin: 0 auto;
}
header{
    width: 1140px;
    margin: 0 auto;
}
nav{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-items li{
    margin: 0 20px;
    color: #E4E5EA;
    transition: all 0.1s ease-out;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.logo_subtitle{
    width: 165px;
    font-size: 10px;
    margin-top: 10px;
    color: #E4E5EA;
}